@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root {
    --primary: #FEA116;
    --light: #F1F8FF;
    --dark: #0F172B;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #FEA116;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #F1F8FF;
    --bs-dark: #0F172B;
    --bs-font-sans-serif: system-ui, "-apple-system", "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", 
    "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: "SFMono-Regular"," Menlo"," Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}
body {
    font-family: "Heebo", serif;
    line-height: 1.5;
    color: rgb(102, 101, 101);
    background-color: #fff ;
    scroll-behavior: smooth;
}
.container{
    width: 85%;
    margin: 0 auto;
    max-width: 1500px;
}
.home,
.home-about{
    height: 105vh;
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(img/bg-hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}
.home-about{
    height: 55vh;
}
nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    transition: 0.3s;
    z-index: 1000;
    padding: 20px 0;
}
nav .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* height: 100%; */
    padding: 0 20px;
}
nav .logo{
    color: #FEA116;
    font-size: 2.25rem ;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    line-height: 1.2;
}
nav .logo i{
    margin-right: 10px;
}
nav .nav-item ul,
nav .nav-item{
    display: flex;
    list-style: none;
    align-items: center;
}
nav .nav-item ul li{
    margin-left: 25px;
}
.nav-item ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

nav .nav-item ul li a:hover{
    color: var(--bs-primary);
}
nav .nav-item ul li .active{
    color: var(--bs-primary);
}
nav .nav-item .arrow::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .055em;
    content: "";
    border-top: .4em solid;
    border-right: .4em solid transparent;
    border-bottom: 0;
    border-left: .4em solid transparent;
}

nav .nav-item ul .drop-item{
    background-color: white;
    position: absolute;
    min-width: 150px;
    top: 100%;
    display: none;
    z-index: 1010;
}
nav .nav-item ul .drop:hover .drop-item::before {
    content: "";
    border-width: 30px;
    border-style: solid;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    right: 55px;
    top: -60px;
}
nav .nav-item ul .drop:hover .drop-item{ 
    display: block;
}
nav .nav-item ul .drop-item a{
    display: block;
    margin-bottom: 7px;
    padding:8px 8px 0;
    color: black;
    transition: 0.3s;
}
nav .nav-item ul .drop-item a:hover{
    background-color: rgba(0, 0, 0, 0.085);
    padding-left: 20px;
}
nav .btn-nav,
.home-main .home-text a,
.about-main .about-text a{
    color: white;
    font-family: 'Nunito', serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
    padding: 0.5rem 1.5rem;
    background-color: #FEA116;
}
nav .btn-nav{
    margin-left: 40px;
}
.home-main .home-text a,
.about-main .about-text a{
    padding: 1rem 2.5rem;
    font-size: 18px;
}
.about-main .about-text a{
    margin-top: 3%;
    display: inline-block;
}
nav .btn-nav:hover,
.home-main .home-text a:hover,
.about-main .about-text a:hover{
    background-color: #feaf39;
}
.menu-icon {
    display: none;
}
/* إخفاء القائمة والزر الأساسي في الشاشات الصغيرة */
@media (max-width: 992px) {
    .nav-item ul {
        display: none !important;
        flex-direction: column;
        position: absolute;
        background: rgb(3, 9, 38);
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 30px 0;
        transition: 0.3s ease-in-out;
        gap: 20px;
        text-align: justify;
        font-size: 18px;
    }
    .drop{
        display: none;
    }
    /*  عندما يتم تفعيل القائمة */
    .nav-item .show {
        display: flex;
        /* display: block; */
    }

    /* أيقونة المينيو */
    .menu-icon {
        display: block;
        font-size: 1.75rem;
        cursor: pointer;
        color: white;
        position: absolute;
        right: 20px;
        top: 15px;
    }
    .nav-item .btn-nav {
        display: none;
    }
}
@media (max-width:1080px){
    .nav-item ul {
        display: none !important;
    }
}
/* home main */
.home-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
}
.home-main .home-img{
    width: 50%;
}
.home-main .home-img img{
    width: 90%;
    margin-left: 4vw;
    animation-name: img-main;
    animation: img-main 40s linear infinite;
}
@keyframes img-main{
    0%{
        rotate: 0deg
    }
    100%{
        rotate: 360deg;
    }
}
.home-main .home-text{
    width: 37%;
    margin-left: 2.5vw;
    margin-top: -3.5vh;
    color: white;
    animation-name: text-a;
    animation-duration: 2s;
} 
@keyframes text-a{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.home-main .home-text h1{
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: .5rem;
    font-family: "Nunito", sans-serif;
}
.home-main .home-text p{
    margin-bottom: 5vh;
}
.scrolled {
    background: rgb(3, 9, 38);
    padding: 15px 0;
}
@media (max-width: 1024px) {
    .home-main {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .home-main .home-text {
        width: 100%;
    }
    .home-main .home-img {
        width: 75%;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .home{
        height: auto;
    }
}
@media (max-width: 768px) {
    .home-main {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .home-main .home-text {
        width: 90%;
        margin: 0 auto;
    }
    .home-main .home-text h1 {
        font-size: 3rem;
    }
    .home-main .home-text p {
        font-size: 0.9rem;
    }
    .home-main .home-img {
        width: 80%;
    }
}
@media (max-width: 480px) {
    .home-main .home-text h1 {
        font-size: 2.5rem;
    }
    .home-main .home-text p {
        font-size: 0.85rem;
    }
    .home-main .home-img {
        width: 90%;
    }
}

/* service */
.service-main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin: 12vh 0;
}
.service-main div{
    padding: 50px 25px 35px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
    border-radius: 2px ;
}
.service-main div i{
    color: var(--bs-primary);
    margin-bottom: 1.5rem ;
}
.service-main div h5{
    font-size: 1.25rem;
    margin-bottom: .5rem;
    font-family: "Nunito", serif;
    font-weight: 800;
    line-height: 1.2;
    color: #0F172B;
}
.service-main div p{
    font-size: 17px;
    line-height: 1.5;
}
.service-main div:hover {
    background: var(--primary);
    color: var(--light);
}
.service-main div:hover i,
.service-main div:hover h5{
    color: var(--light);
}
.ser1,.ser2,.ser3,.ser4{
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}
.ser1{
    animation-name:ser1 ;
}
@keyframes ser1{
    0%{
        transform: translateY(75%);
    }
    100%{
        transform: translateY(0);
    }
}

.ser2{
    animation-name: ser2;
    animation-duration: 1.4s;
}
@keyframes ser2{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
}
.ser3{
    animation-name: ser3;
    animation-duration: 2.1s;
}
@keyframes ser3{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
}
.ser4{
    animation-name: ser4;
    animation-duration: 2.8s;
}
@keyframes ser4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
}
/* about section */
.about{
    padding-top: 3rem ;
    padding-bottom: 3rem ;
    align-items: center;
}
.about .container .about-main{
    display: flex;
}
.about-main .about-img{
    flex: 0 0 auto;
    width: 50%;
}
.about-main .about-img .imges{
    display: flex;
    flex-wrap: wrap;
    border-radius: 3px;
    gap: 15px;
}
.about-main .about-img .im{
    flex: 0 0 auto;
    width:47%;
    object-fit: cover;
}
.about-main .about-img .img2{
    text-align: left;

}
.about-main .about-img .img3{
    text-align: right;
}
.about-main .about-img .im2{
    margin-top: 20%;
    width: 80%; 
    margin-right: 20%;
}
.about-main .about-img .im3{
    width: 80%;
    margin-bottom: 20%;
    margin-left: 20%;
}

.about-main .about-text{
    flex: 0 0 auto;
    width: 50%;
    padding-left: 50px;
    margin-top: 8.5%;
}
.about-main .about-text h5,
.main-form .form1 h5{
    position: relative;
    display: inline-block;
    font-family: 'Pacifico', 'cursive';
    color: #FEA116;
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}
.about-main .about-text h5::after,
.main-form .form1 h5::after{
    position: absolute;
    content: "";
    width: 45px;
    height: 2.5px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: var(--primary);
}
.about-main .about-text h1,
.main-form .form1 h1{
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    line-height: 1.2;
    color: #0F172B;
}
.about-main .about-text h1 i{
    color: #FEA116 ;
    margin-right: 0.5rem;
}
.about-main .about-text p{
    margin-bottom: 1.5rem ;
}
.about-main .about-text .about-num{
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-main .about-text .about-num .about-num1,
.about-main .about-text .about-num .about-num2{
    flex: 0 0 auto;
    width: 50%;
}
.about-main .about-num .about-num1 .num-main,
.about-main .about-num .about-num2 .num-main{
    padding-right: 1rem ;
    padding-left: 1rem;
    align-items: center;
    border-left: 5px solid #FEA116;
    display: flex;
}
.about-num .about-num1 .num-main h1,
.about-num .about-num2 .num-main h1{
    color: #FEA116;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 0;
}
.about-num .about-num1 .num-main .num-text,
.about-num .about-num2 .num-main .num-text{
    padding-left: 1.5rem;
}
.about-num .about-num1 .num-main .num-text p,
.about-num .about-num2 .num-main .num-text p{
    margin-bottom: 0;
    margin-top: 0;
}
.about-num1 .num-main .num-text h6,
.about-num2 .num-main .num-text h6{
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    line-height: 1.2;
    color: #0F172B;
}
.img1{
    animation-name: img1;
    animation-duration: 2s;
}
@keyframes img1{
    0%{
        transform: translatex(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
.img2{
    animation-name: img2;
    animation-duration: 2s;
}
@keyframes img2{
    0%{
        scale: 0;
    }
    100%{
        scale:1;
        
    }
}
.img3{
    animation-name: img3;
    animation-duration: 2s;
}
@keyframes img3{
    0%{
        scale: 0;
    }
    100%{
        scale:1;
    }
}
.img4{
    animation-name: img4;
    animation-duration: 2s;
}
@keyframes img4{
    0%{
        transform:translateY(100%) ;
    }
    100%{
        transform: translateY(0);
    }
}

/* جعل العناصر في عمود واحد على الشاشات الصغيرة */
@media (max-width: 1100px) {
    .about .container .about-main{
        flex-direction: column;
    }
    .about-num {
        align-items: center;
        text-align: center;
    }
    .about-main .about-img {
        width: 100%;
    }
    .about-main .about-img .imges{
        justify-content: center;
    }
    .about-num1, .about-num2 {
        width: 100%;
    }
    .about-main .about-text {
        width: 100%;
        padding-left: 0;
    }
    .num-main {
        flex-direction: column;
        text-align: center;
    }

    .num-main .num-text {
        padding-left: 0; 
    }

    .img1, .img2, .img3, .img4 {
        width: 80%;
        max-width: 300px;
    }
}
/* menu section */
.menu{
    padding-top: 3rem ;
    padding-bottom: 3rem ;
}
.menu .container .menu-header,
.team .container .team-header,
.test .container .test-header,
.service .container .team-header,
.contact .container .contact-header{
    text-align: center;
    animation-name: menu-header;
    animation-duration: 1s;
}
@keyframes menu-header{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
}
.menu .menu-header h5,
.team .team-header h5,
.test .test-header h5,
.service .container .team-header h5,
.contact .container .contact-header h5{
    position: relative;
    display: inline-block;
    font-family: 'Pacifico', 'cursive';
    color: #FEA116 ;
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}
.menu .menu-header h5::before,
.team .team-header h5::before,
.test .test-header h5::before,
.service .container .team-header h5::before,
.contact .container .contact-header h5::before{
    position: absolute;
    content: "";
    width: 45px;
    height: 1.5px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: var(--primary);
}
.menu .menu-header h5::after,
.team .team-header h5::after,
.test .test-header h5::after,
.service .container .team-header h5 ::after,
.contact .container .contact-header h5::after{
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: var(--primary);
}
.menu .menu-header h1,
.team .team-header h1,
.test .test-header h1,
.service .container .team-header h1,
.contact .container .contact-header h1{
    margin-bottom: 3rem;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    line-height: 1.2;
    color: #0F172B;
    font-size: 2.5rem;
}
.menu .container .menu-content{
    text-align: center;
    animation-name: menu-header;
    animation-duration: 1.5s;
}
.menu .menu-content ul{
    margin-bottom: 3rem;
    justify-content: center;
    border-bottom: 1px solid #dee2e6;
    display: inline-flex;
    list-style: none;
}
.menu-content ul li .active{
    border-bottom: 2px solid var(--primary);
}
.menu-content li a{
    text-align: left;
    padding-bottom: 1rem;
    align-items: center;
    display: flex;
    color: #FEA116;
    text-decoration: none;
    transition:border-bottom 0.3s;
}
.menu-content li .am{
    margin-right: 2rem;
}
.menu-content li a .ph{
    padding-left: 1rem;
}
.menu-content li a .ph p{
    color: #666565 ;
    font-size: 14px;
}
.menu-content li a .ph h6{
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    line-height: 1.2;
    color: #0F172B;
}
.menu-content .tap-content .tap1.content,
.menu-content .tap-content .tap2.content{
    --bs-gutter-y: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)* -1);
    display: none;
}
.menu-content .tap-content .tap1.content{
    display: flex;
}
.menu-content .tap-content .tap1.content.active,
.menu-content .tap-content .tap2.content.active{
    display: flex;
}
.col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8{
    flex: 0 0 auto;
    width: 50%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
}
.col1-main{
    display: flex;
    align-items: center;
    margin-right: 40px;

}
.col1-main img{
    width: 80px;
    aspect-ratio: 1 / 1;
    border-radius: 3px;
    flex-shrink: 0;
    max-width: 100%;
    vertical-align: middle;
}
.col1-main .col-text{
    text-align: left;
    padding-left: 1.5rem;
    flex-direction: column;
    width: 100%;
    display: flex;
}
.col1-main .col-text h5{
    padding-bottom: 0.5rem;
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid #dee2e6;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: .5rem;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    line-height: 1.2;
    color: #0F172B;
}
.col1-main .col-text h5 .price{
    color: #FEA116 ;
}
.col1-main .col-text  p{
    font-size: 14px;
    font-style: italic ;
}
.tap1{
    margin-bottom: 20px;
}
/* ريسبونسف */
@media (max-width: 1024px) {
    .menu .menu-header h1,
    .team .team-header h1,
    .test .test-header h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .menu-content li {
        flex: 1 1 45%;
        text-align: center;
    }
}
@media (max-width: 768px) {
    .menu {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .menu .menu-header h1,
    .team .team-header h1,
    .test .test-header h1 {
        font-size: 1.8rem;
    }
    .menu-content li {
        width: 100%;
        text-align: center;
        padding: 0.5rem 0;
    }
    .menu-content .tap-content .content {
        flex-direction: column;
    }
    .col1, .col2, .col3, .col4, .col5, .col6,  .col7, .col8 {
        width: 100%;
    }
    .col1-main {
        text-align: center;
        margin-right: 0;
    }
    .col1-main img {
        margin-bottom: 10px;
    }
    .col1-main .col-text h5 {
        font-size: 1rem;
    }
    .col1-main .col-text p {
        font-size: 12px;
    }
}
@media (max-width: 470px) {
    .menu .menu-content ul {
        flex-direction: column;
    }
}

/* section recerv */
.reserv{
    padding-top: 3rem ;
    padding-bottom: 1rem ;
    width: 100%;
}
.reserv .reserv-main{
    display: flex;
    flex-wrap: wrap;
}
.reserv .reserv-main .main-viduo{
    position: relative;
    min-height: 400px;
    background: linear-gradient(rgba(15, 23, 43, .1), rgba(15, 23, 43, .1)), url(img/video.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width: 768px) {
    .reserv .reserv-main .main-viduo{
        flex: 0 0 auto;
        width: 50%;
    }
}
.reserv .reserv-main .main-viduo button{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 18px 20px 18px 28px;
    cursor: pointer;
}
.reserv-main .main-viduo button::before{
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--primary);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}
@keyframes pulse-border{
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}
.reserv-main .main-viduo button span{
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid var(--dark);
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}
.reserv-main .main-viduo button::after{
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--primary);
    border-radius: 50%;
}
.reserv-main .main-form{
    background-color: #0F172B;
    /* align-items: center; */
    display: flex;
    max-width: 100%;
}
@media (min-width: 768px) {
    .reserv-main .main-form{
        /* flex: 0 0 auto; */
        width: 50%;
    }
}
.reserv-main .main-form .form1{
    animation-delay: 0.2s;
    animation-name: fadeInUp;
    padding: 3rem ;
    animation-duration: 2s;
}
@keyframes fadeInUp{
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
.main-form .form1 h1{
    color: #fff ;
    margin-bottom: 1.5rem !important;
}
.form1 form {
    display: flex;
    flex-wrap: wrap;  
}
.form1 form .inp1{
    max-width: calc(100% - 1rem);
    margin-right: 1rem;
}
.form1 form .inp1 .inp11{
    position: relative;
    margin-bottom: 1rem;
    margin-right: 2rem;
    width:100% ;
}
.form1 form .inp1 .inp11 .form-control{
    height: calc(3.5rem + 2px);
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666565;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 2px;
    transition: border-color 0.15s ease-in-out, box-shadow  0.15s ease-in-out;
}
.form1 form .inp1 .inp11 .form-control:focus{
    color: #666565;
    background-color: #fff;
    border-color: #ffd08b;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(254, 161, 22, 0.25);
}
.form1 form .inp1 .inp11 label{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem .75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    display: inline-block;
    cursor: default;
}
.form1 form .inp1 .inp11 input:focus+label,
.form1 form .inp1 .inp11 textarea:focus+label{
    opacity: .65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.ic{
    width: 100%;
}
.form1 form .inp1 .inp11 select{
    padding-top: 1.625rem;
    padding-bottom: .625rem;
    height: calc(3.5rem + 2px);
    padding: 1rem .75rem;
    display: inline-block;
    width: 175%;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666565;
    background-color: #fff;
    background-image: url(img/download.svg);
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 2px;
    appearance: none;
    word-wrap: normal;
    padding-top: 1.625rem;
    padding-bottom: .625rem;
}
.form1 form .inp1 .inp11 select+label{
    opacity: .65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
    width: 200%;
}
.form1 form .inp1 .inp11 select:focus{
    border-color: #ffd08b;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(254, 161, 22, 0.25);
}
.form1 form .inp5{
    flex: 0 0 auto;
    width: 100%;
}
.inp5 .btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 1rem ;
    padding-bottom: 1rem ;
    width: 96%;
    background-color: #FEA116;
    border-color: #FEA116;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    font-size: 1rem;
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
}
.inp5 .btn{
    background-color: #ffb444;
    border-color: #feaa2d;
    transition: 0.3s;
}
.inp5 .btn:hover{
    background-color: #f8b654;
    border-color: #f8b654;
}
@media (max-width: 1024px){
    .reserv .reserv-main .main-viduo {
        flex: 0 0 auto;
        width: 100%;
        margin-bottom: 8%;
    }
    .reserv-main .main-form {
        flex: 0 0 auto;
        width: 100%;
    }
    .form1 form .inp1, 
    .form1 form .inp1 .inp11 select,
    .form1 form .inp1 .inp11 select+label,
    textarea.form-control,
    .inp5 .btn{
        width:100%;
        margin-right: 0;
    }
    .form1 form .inp5 {
        flex: 0 0 auto;
        width: 96.5%;
    }
}
/* team section */
.team,
.test{
    /* margin-top: 7.5%;
    margin-bottom: 7.5%; */
    margin: 7.5% 0;
}
.team .container .team-cards{
    grid-gap: 20px; 
    display: flex;
    flex-wrap: wrap;
}
.team .team-cards .card{
    animation-delay: 0.1s;
    animation-name: fadeInUp;
    animation-duration: 2s;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    height: calc(100% - 38px);
    border-radius: 4px;
    text-align: center;
    max-width: 100%;
    transition:all 0.5s;
}
@media (min-width: 768px) {
    .team .team-cards .card{
        flex: 0 0 auto;
        width: calc(50% - 20px);
    }
}
@media (min-width: 992px) {
    .team .team-cards .card{
        flex: 0 0 auto;
        width: calc(25% - 20px);
    }
}

.team .team-cards .card:hover{
    height: 100%;
}
.team-cards .card .card-img{
    margin: 1.5rem;
    border-radius: 50%;
}
.team-cards .card .card-img img{
    transition: .5s;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 50%;
    width: 100%;
}
.card:hover img{
    transform: scale(0.9);
}
.team-cards .card h5{
    font-size: 1.25rem;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    line-height: 1.2;
    color: #0F172B;
}
.team-cards .card small{
    font-size: .875em;
}
.team-cards .card .card-icon{
    margin-top: 1rem ;
    justify-content: center ;
    display: flex;
    transition: 0.5s;
}
.card .card-icon a{
    border-radius: 38px 38px 0 0;
    color: #FFFFFF;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    width: 38px;
    height: 38px;
    margin-right: .25rem;
    margin-left: .25rem ;
    background-color: #FEA116;
    border-color: #FEA116;
    cursor: pointer;
    display: none;
    transition:all 0.5s;
}
.card .card-icon a:hover{
    background-color: #feaf39;
    border-color: #feaa2d;
}
.team .team-cards .card:hover a{
    display: flex;
}
@media (max-width: 768px) {
    .team .team-cards .card {
        width: calc(50% - 20px);
    }
    .team-cards .card .card-img img {
        width: 90%;
    }
}
@media (max-width: 470px) {
    .team .team-cards .card {
        width:100%;
    }
    .team-cards .card .card-img img {
        width: 90%;
    }
    .team{
        margin-bottom: 13%;
    }
}
/* test section */
.testimonial {
    width: 100%;
    position: relative;
    padding: 50px 0;
    overflow: hidden;
}
.test1 {
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.test-main {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.test-item {
    min-width: 300px;
    margin: 10px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}
.test-item:hover {
    background-color: var(--primary);
    color: #fff;
}
.test-item:hover .item-text i,
.test-item:hover .img-text h5 {
    color: #fff;
}
.test-item .item-text i {
    color: var(--primary);
    margin-bottom: 15px;
}
.test-item .test-img {
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.test-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.img-text {
    padding-left: 10px;
}
.img-text h5 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}
.img-text small {
    font-size: 0.9rem;
}
.test3 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.owl-dot {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 50%;
    background: #ccc;
    transition: background 0.3s;
    cursor: pointer;
}
.owl-dot.active {
    background: var(--primary);
}
/* @media (max-width: 768px) {
    .test-main {
        flex-wrap: wrap;
        justify-content: center;
    }
    .test-item {
        width: 90%;
    }
} */
/* footer */
.footer {
    background-color: #0c1524;
    color: #fff;
    padding: 40px 0;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-section {
    width: 23%;
}
.footer-section h3 {
    color: #ff9b21;
    font-size: 20px;
    margin-bottom: 25px;
    position: relative;
    font-family: 'Pacifico', 'cursive';
}
.footer-section h3 span {
    display: block;
    width: 40px;
    height: 2px;
    background-color: #ff9b21;
    margin-top: 5px;
}
.footer-section ul {
    list-style: none;
    padding: 0;
}
.footer-section ul li {
    margin: 15px 0;
}
.footer-section ul li a {
    color: #ddd;
    text-decoration: none;
    transition: all 0.3s;
}
.footer-section ul li a:hover {
    color: #ff9b21;
    margin-left: 10px;
}
.footer-section p {
    font-size: 16px;
    margin: 15px 0;
    line-height: 2;
}
.social-icons {
    margin-top: 10px;
}
.social-icons a {
    color: #ff9b21;
    margin-right: 10px;
    font-size: 18px;
    transition: color 0.3s;
}
.social-icons a:hover {
    color: #fff;
}
.footer-section form {
    margin-top: 10px;
    display: flex;
}
.footer-section input {
    flex: 1;
    padding: 15px 10px;
    border: none;
    border-radius: 3px 0 0 3px;
    outline: none;
}

.footer-section button {
    background: #ff9b21;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: background 0.3s;
}

.footer-section button:hover {
    background: #e58f1e;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #222;
    margin-top: 20px;
}

.footer-bottom p {
    margin-bottom: 10px;
}

.footer-bottom ul {
    list-style: none;
    padding: 0;
}

.footer-bottom ul li {
    display: inline;
    margin: 0 10px;
}

.footer-bottom ul li a {
    color: #ddd;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-bottom ul li a:hover {
    color: #ff9b21;
}

/*  Media Queries - Responsive Design  */
@media (max-width: 992px) {
    .footer-section {
        width: 48%;
        margin-bottom: 20px;
    }
    .footer-section h3 span{
        display: none;
    }
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        width: 100%;
    }

    .footer-section form {
        flex-direction: column;
        align-items: center;
    }

    .footer-section input {
        width: 100%;
        border-radius: 3px;
        margin-bottom: 10px;
    }

    .footer-section button {
        width: 100%;
        border-radius: 3px;
    }

    .footer-bottom ul {
        padding-top: 10px;
    }

    .footer-bottom ul li {
        display: block;
        margin: 5px 0;
    }
}
/* arrow */
#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff9b21;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, transform 0.2s;
}

#scrollTopBtn:hover {
    background-color: #e58f1e;
    transform: scale(1.1);
}

/* about bage */
.about-bage{
    text-align: center;
}
.about-bage h1{
    color: #fff ;
    margin: 3rem 0 1rem;
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.2;
    font-family: "Nunito", sans-serif;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: slideInDown ;
}
@keyframes slideInDown{
    0% {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    100% {
        transform: translateZ(0);
    }
}
.about-bage h2{
    font-size: 16px;
    font-weight: normal;
    color: #fff;
}
.about-bage h2 span{
    padding-left: 2px;
}
.about-bage h2 .color{
    color: #FEA116;
}
.about-bage h2 .color:hover{
    color: #cb8112;
}
.about-bage h2 .line1{
    color: #6c757d;
    font-size: 17px;
}
/* service page */
.service .container .team-header {
    margin-top: 7%;
}
.free{
    height: 100px;
}
.free-team{
    height: 60px;
}
/*  contact section */
.row {
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
@media (max-width: 767px){
    .g-4{
        flex-direction: column;
    }
    .g-3{
        flex-direction: column;
    }
    .form-email{
        width: 100% !important;
    }
}
@media (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 auto;
        width:calc(33.33333% - 20px) ;
    }
}
.section-title {
    position: relative;
    display: inline-block;
}
.ff-secondary {
    font-family: 'Pacifico', 'cursive';
}
.text-primary {
    color: #FEA116 ;
}
.text-start {
    text-align: left ;
}
.fw-normal {
    font-weight: 400 ;
    font-size: 1.25rem;
    margin-bottom: .5rem;
    line-height: 1.2;
}
.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: var(--primary);
}
.col-md-4 p{
    margin-bottom: 1rem;
}
.me-2 {
    margin-right: .5rem ;
}
.fadeInUp,
.wow {
    animation-name: fadeInUp;
    animation-duration: 2s;
}
@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: calc(50% - 20px);
    }
}
.rounded {
    border-radius: 2px ;
}
.h-100 {
    height: 100%;
}
.w-100 {
    width: 100% ;
}
.position-relative {
    position: relative ;
}

.g-3, .gy-3 {
    --bs-gutter-y: 1rem;
}
.g-3, .gx-3 {
    --bs-gutter-x: 1rem;
}
.form-floating {
    position: relative;
}
.form-control {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 2px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: .625rem;
    padding-left: 15px;
}
.form-control:focus {
    color: #666565;
    background-color: #fff;
    border-color: #ffd08b;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(254, 161, 22, 0.25);
}
.form-floating>.form-control:focus ~ label, .form-floating>.form-control:not(:placeholder-shown) ~ label, .form-floating>.form-select ~ label {
    opacity: .65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.form-floating>label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem .75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
        display: inline-block;
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}
.py-3 {
    padding-top: 1rem ;
    padding-bottom: 1rem ;
}
.w-100 {
    width: 100% ;
}
.btn-primary {
    background-color: #FEA116;
}
.btn {
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid  #FEA116;
    /* padding: .375rem .75rem; */
    font-size: 1rem;
    border-radius: 2px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button, select {
    text-transform: none;
}
.btn-primary:hover {
    background-color: #feaf39;
    border-color: #feaa2d;
}
.form-email{
    width: 50%
}
.col-12{
    animation-name: col;
    animation-duration: 2s;
}
@keyframes col{
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.hidden {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.8s ease-out;
  }
  
  .show {
    opacity: 1;
    transform: translateY(0);
  }
  